.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: #fff; 
  z-index: 1000; 
}

body {
  padding-top: 60px; 
}

.nav__gird-item {
  display: flex;
  align-items: center;
}

.nav__links-container {
  display: flex;
}

.nav__list {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-size: 16px;
  padding: 10px;
}

.nav__account-container,
.nav__logo-container {
  margin-left: 15px;
}

.nav__logo-image,
.nav__menu-link {
  width: 30px;
  height: 30px;
}

/* Мобільні стилі */
@media (max-width: 400px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__list {
    flex-direction: column;
    gap: 10px;
  }

  .nav__link {
    font-size: 14px;
    padding: 10px;
  }

  .nav__gird-item {
    margin-bottom: 15px;
  }

  .nav__account-container,
  .nav__logo-container {
    margin-left: 0;
  }
}

#nav__item-sale {
  color: #ffd700;
}

.nav__link {
  color: #131913;
}
