/* Основні стилі для логіна */
.login {
  display: flex;
  height: 100vh;
}

.login__image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login__heading {
  margin-bottom: 20px;
}

.login__field,
.login__button-wrapper,
.login__footer-link {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

/* Нові стилі для полів введення */
.login__label {
  display: flex;
  flex-direction: column;
  align-items: center; /* Вирівнювання по центру */
  width: 100%; /* Займає всю ширину */
}

.login__label-text {
  margin-bottom: 5px; /* Відступ між текстом і полем введення */
}

.login__field {
  margin-bottom: 15px; /* Відступ між полями */
  display: flex; /* Додаємо flex для центрування */
  flex-direction: column; /* Вертикальне вирівнювання */
  align-items: center; /* Центрування елементів */
}

/* Стилі для полів введення */
input[type="email"],
input[type="password"] {
  width: 90%; /* Зробити ширшими (90% від батьківського елемента) */
  max-width: 500px; /* Максимальна ширина */
  padding: 10px 100px; /* Внутрішні відступи */
  border: 1px solid #ccc; /* Сірий контур */
  border-radius: 10px; /* Закруглені кути */
  box-sizing: border-box; /* Включає padding і border в загальну ширину */
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #FFD700; /* Зміна кольору контуру при фокусі */
  outline: none; /* Прибирає стандартний контур */
}

.login__button-wrapper,
.login__footer-link {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.login__line-divider {
  margin: 20px 0;
  width: 80%;
}

.login__button-link {
  display: block;
  padding: 10px;
  background-color: #FFD700;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.login__footer-link-text {
  color: #595959;
  text-decoration: none;
}

/* Стилі для кнопки закриття */
.login__close-link {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.login__close-icon {
  width: 30px; /* Зменшення розміру іконки */
  height: 30px;
  object-fit: contain;
}

