/* Основні стилі для логіна */
.login {
  display: flex;
  height: 100vh;
}

.login__image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  margin-top: 100px;
  align-items: center; /* Центрування всіх елементів по горизонталі */
}

.login__title {
  width: 100%;
  text-align: center;
}

.login__heading {
  margin-bottom: 50px;
}

/* Стилі для полів форми */
.login__field {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.login__label-text {
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  font-size: 20px;
  font-weight: 20px;
  color: #c4c4c4;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 700px;
  padding: 10px 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #ffd700;
  outline: none;
}

/* Центрування кнопок та посилань */
.login__button-wrapper,
.login__footer-link,
.login__divider {
  display: flex;
  justify-content: center; /* Центрування елементів по горизонталі */
  width: 100%;
  margin-bottom: 25px;
}

.login__button-link {
  display: block;
  padding: 10px;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  width: 40%; /* Ширина для кнопки */
  text-align: center;
}

.login__line-divider {
  width: 85%;
  border: 1px solid #000;
}

.login__footer-link-text {
  color: #595959;
  text-decoration: underline;
}

/* Стилі для кнопки закриття */
.login__close-link {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.login__close-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* Стилі для модального вікна */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний фон */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 8px;
  /* width: 400px; */
  max-width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
