<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yellone</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="img/icone/logo.png"
      sizes="16x16"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        class="header__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>

    <div class="main-container">
      <div class="header">
        <span>Remove all</span>
        <span class="remove-all">
          <img src="img/icone/dump.png" alt="Back" />
        </span>
      </div>

      <div class="product">
        <img src="img/photo/iphone15-pro-black-cat.png" alt="iPhone 15 Pro" />
        <div class="product-details">
          <h3>Apple iPhone 15 Pro 256GB (Black Titanium)</h3>
          <div class="pickup">
            <img src="img/icone/point-cut.png" alt="Pick" />
            <span>You can pick it up today</span>
          </div>
          <div class="actions">
            <img src="img/icone/Like.png" alt="Like icon" />
            <span>In favorites</span>
            <img src="img/icone/dump.png" alt="Delete icon" />
            <span>Remove</span>
          </div>
          <div class="product-code">Product code: 18679</div>
          <div class="price">
            <div class="price-info">
              <span class="original-price">999$</span>
              <span class="discount">-10%</span>
            </div>
            <span class="current-price">989$</span>
          </div>
          <div class="quantity">
            <button>-</button>
            <span>1</span>
            <button>+</button>
          </div>
        </div>
      </div>

      <div class="order-container">
        <div class="order-content">
          <h2>Placing an order:</h2>
          <div class="order-details">
            <p>1 goods for the amount: <span class="amount">999$</span></p>
            <p>discount: <span class="discount">100$</span></p>
          </div>
          <div class="total">
            <p>Total amount: <span class="total-amount">989$</span></p>
          </div>
          <button class="proceed-button">Proceed to registration</button>
        </div>
      </div>

      <div class="similar-products">
        <div class="title">Similar products:</div>

        <!-- Product Card 1 -->
        <div class="product-card">
          <div class="product-info">
            <img
              src="img/photo/iphone-15-blask-cat.png"
              alt="Product"
              class="product-image"
            />
            <div class="product-details">
              <div class="product-name">Apple iPhone 15 128GB</div>
              <div class="color-options">
                <div class="color black"></div>
                <div class="color blue"></div>
                <div class="color pink"></div>
                <div class="color green"></div>
                <div class="color yellow"></div>
              </div>
            </div>
          </div>
          <div class="price-section">
            <div class="original-price">999$</div>
            <div class="discounted-price">989$</div>
          </div>
        </div>

        <!-- Product Card 2 -->
        <div class="product-card">
          <div class="product-info">
            <img
              src="img/photo/iphone-16-pro-desert-cat.png"
              alt="Product"
              class="product-image"
            />
            <div class="product-details">
              <div class="product-name">Apple iPhone 15 128GB</div>
              <div class="color-options">
                <div class="color black"></div>
                <div class="color blue"></div>
                <div class="color pink"></div>
                <div class="color green"></div>
                <div class="color yellow"></div>
              </div>
            </div>
          </div>
          <div class="price-section">
            <div class="original-price">999$</div>
            <div class="discounted-price">989$</div>
          </div>
        </div>

        <!-- Product Card 3 -->
        <div class="product-card">
          <div class="product-info">
            <img
              src="img/photo/iphone-16-pro-desert-cat.png"
              alt="Product"
              class="product-image"
            />
            <div class="product-details">
              <div class="product-name">Apple iPhone 15 128GB</div>
              <div class="color-options">
                <div class="color black"></div>
                <div class="color blue"></div>
                <div class="color pink"></div>
                <div class="color green"></div>
                <div class="color yellow"></div>
              </div>
            </div>
          </div>
          <div class="price-section">
            <div class="original-price">999$</div>
            <div class="discounted-price">989$</div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <nav
        class="footer__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></nav>
    </footer>
  </body>
</html>
